*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
}

li {
  list-style: none;
  padding: 0.5rem 1rem;
}

li:nth-child(odd) {
  background-color:blue;
}

li:nth-child(even) {
  background-color:blueviolet;
}

.clear {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

.clear button {
  width: 50%;
}
